* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: #e5eff5;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  position: relative;
}
@media only screen and (max-width: 31.25em) {
  body {
    padding: 8rem 3rem;
  }
}

.main {
  overflow: hidden;
  width: 60%;
  margin: auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
@media only screen and (max-width: 75em) {
  .main {
    width: 80%;
  }
}
@media only screen and (max-width: 48em) {
  .main {
    width: 90%;
  }
}
@media only screen and (max-width: 31.25em) {
  .main {
    width: 100%;
  }
}
.main .section-top {
  background-color: #fff;
  width: 100%;
  padding: 5rem;
}
@media only screen and (max-width: 31.25em) {
  .main .section-top {
    padding: 5rem 3.5rem;
    border-radius: 5px 5px 0 0;
  }
}
.main .section-top__heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #2ab2af;
}
.main .section-top__sub-heading {
  font-size: 2.2rem;
  color: #c0df34;
}
.main .section-top__paragraph {
  font-size: 1.8rem;
  color: #98a6bd;
  padding: 1rem 0;
  width: 90%;
}
@media only screen and (max-width: 31.25em) {
  .main .section-top__paragraph {
    width: 100%;
  }
}
.main .section-bottom {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 31.25em) {
  .main .section-bottom {
    flex-direction: column;
  }
}
.main .section-bottom .section-side {
  flex-basis: 50%;
  padding: 4rem 5rem 2.5rem;
}
@media only screen and (max-width: 31.25em) {
  .main .section-bottom .section-side {
    padding: 5rem 3.5rem 2.5rem;
  }
}
.main .section-bottom .section-side__heading {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.9);
}
.main .section-bottom .section-left {
  background-color: #2ab2af;
}
.main .section-bottom .section-left__price {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.main .section-bottom .section-left__price span {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(229, 239, 245, 0.7);
  letter-spacing: 1px;
  margin-left: 1.5rem;
}
.main .section-bottom .section-left__text {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 3rem;
  letter-spacing: 0.5px;
}
.main .section-bottom .section-left .btn {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
  width: 95%;
  background-color: #c0df34;
  text-align: center;
  padding: 1.5rem 0;
  border-radius: 8px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 48em) {
  .main .section-bottom .section-left .btn {
    width: 100%;
  }
}
.main .section-bottom .section-right {
  background-color: rgba(42, 178, 175, 0.7);
}
@media only screen and (max-width: 31.25em) {
  .main .section-bottom .section-right {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.main .section-bottom .section-right__features {
  list-style: none;
  color: #e5eff5;
  font-size: 1.5rem;
  margin: 2rem 0;
}
.main .section-bottom .section-right__feature {
  line-height: 1.7;
}/*# sourceMappingURL=main.css.map */